    <% @services.each do |service| %>
      <div>
        <div>
          <%= link_to (image_tag (service.imagem)), service%>
        </div>
	
	<div>
 	  <%= service.title %>
	</div>

	<div>
 	  <%= service.description %>
	</div>

      </div>

    <% end %>
