    <% @services.each do |service| %>
    <div class="feed-body">
            <div class="feed-img">
              <%= link_to (image_tag (service.imagem)), service%>
            </div>

      <div class="feed-text">

        	<h1>
         	  <%= service.title %>
        	</h1>

        	<p>
         	  <%= service.description %>
        	</p>

      </div>

    </div>

    <% end %>
