<div class="avatar">
       <%= image_tag(@user.imagem) %>
</div>

      <h1>Perfil:
        <%= @user.name %>
      </h1>


<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<%= link_to t('links.edit'), edit_user_path(@user) %> |
