 <%= render 'form_search'%>

    <% @produtos.each do |produto| %>

    <div>

	<div class="catalog-celula">
                        <div class="img">
                	   <%= link_to (image_tag (produto.imagem)), produto%>
                        </div>

                	<div class="desc">
                	   <%= produto.nome %>

                	   <%= produto.descricao %>
                	</div>

            </div>
     </div>

    <% end %>
