 <%= render 'form_search'%>

 <div class="catalog">

    <% @produtos.each do |produto| %>

	<div class="catalog-celula">
                        <div class="img">
                	   <%= link_to (image_tag (produto.imagemSlide)), produto%>
                        </div>

                	<div class="desc">
                	   <%= link_to (produto.nome), produto %>
                                <br>
                	   <%= produto.descricao %>
                	</div>



            </div>

    <% end %>

</div>


