<h1>Listing Posts</h1>

  <div>
    <% @posts.each do |post| %>
   
        <div>
	  <%= post.titulo %>
	</div>

        <div>
	  <%= post.subtitulo %>
	</div>
	
	<div>
	  <%= link_to (image_tag (post.imagem_mini)), post %>
	</div>

        <div>
	  <%= post.texto %>
	</div>

    <% end %>
  </div>
