.catalog {
    overflow: auto;
    min-width: 190px;

}

.catalog-celula {
    overflow: hidden;
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 180px;
    height: 250px;

}


.catalog-celula:hover {
    border: 1px solid #777;
}

div.catalog-celula img {
    width: 100%;
    height: auto;
}

.desc {
    padding: 15px;
    text-align: center;
}
