<p>
  <strong>Name:</strong>
  <%= @category.name %>
</p>

<%= link_to t('links.edit'), edit_category_path(@category) %>
<%= link_to t('links.destroy'), @category, method: :delete, data: { confirm: 'Are you sure?' } %>
