<footer>
  <div id="conteiner">
        <div class="menu-rodape">

            <p>
                <a href="#header-top"> Topo </a>
            </p>
            <p>
                <%= link_to "E-mail", new_contact_path %>
            </p>

        </div>

Developed by: Mateus Ferreira Martins

  </div>

</footer>
