<div class="template-direita">

    <% if user_signed_in? %>
            <% if current_user.admin? %>

                <%= render 'layouts/template_dir_admin' %>

            <% else %>

                <%= render 'layouts/template_dir_visitor' %>

            <% end %>

    <% else %>

            <%= render 'layouts/template_dir_visitor' %>

    <% end %>

</div>